body {
  background: url("../images/03.png") no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 112px;
}

#filtros {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

input {
  background-color: white;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
}

select {
  outline: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#custom-select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 12px;
  width: 180px;
  height: 32px;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}

#custom-select::after {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #616161;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
