body {
  background: url("../images/03.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

h1 {
  margin-top: 112px;
}

#filtros {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

input {
  background-color: white;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
}

select {
  outline: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#custom-select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 12px;
  width: 180px;
  height: 32px;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}

#custom-select::after {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #616161;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

#snakes {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 64px;
}

#snakes .snake {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 260px;
  padding: 20px 24px;
  background-color: #fff;
  color: #2c2c2c;
}

#snakes .snake img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

#snakes .snake h3 {
  font-size: 24px;
  text-transform: uppercase;
}