body {
  background-image: url("../images/02.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.container-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-des {
  margin-top: 8vh;
  text-align: center;
  color: #ffffff;
  font-size: 65px;
  width: 100%;
}

.div-sub {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: 8vh;
  background-color: #4d5c4f;
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.61);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.61);
  position: center;
  padding: 30px 30px;
  width: 1000px;
  text-align: justify;
}

.div-sub .img {
  height: 450px;
}

#sub-title {
  text-align: left;
}
.text {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#image {
  float: left;
  width: 350px;
  height: 100%;
  object-fit: cover;
}

.text h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
}

.text p {
  font-size: 20px;
  line-height: 1;
}

.div-video {
  margin-top: 20px;
  height: 597px;
  width: 100%;
  position: center;
}

iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .div-title-des {
    width: 80vw;
  }
  #title-des {
    font-size: 30pt;
  }

  .div-sub {
    width: 80vw;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
    padding: 0;
    margin-top: 8vh;
    gap: 12px;
  }

  .text h2 {
    font-size: 16pt;
    text-align: left;
  }

  .text p {
    font-size: 12pt;
    text-align: left;
  }

  .div-sub .img {
    height: auto;
    padding: 10px;
  }

  #image {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

  .div-video {
    height: auto;
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
