body {
  background-image: url("../images/02.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.container-des{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.div-title-des{
  color: white;
  font-size: 35px;
  position: center;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-sub {
  color: white;
  justify-content: center;
  margin-top: 20px;
  background-color: #616161;
  position: center;
  padding: 30px 30px;
  width: 1000px;
  text-align: justify;
}

#sub-title {
  text-align: left;
}
.text {
  vertical-align: top;
}

#image {
  float: left;
  margin-right: 10px;
}
h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
}

p {
  font-size: 20px;
  line-height: 1;
  margin-top: 20px;
  margin-block-start: 0.7em;
  margin-block-end: 0.5em;
}

.div-video {
  margin-top: 20px;
  height: 597px;
  width: 100%;
  position: center;
}
iframe {
  width: 100%;
  height: 100%;
}