* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/serpente.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 40px 80px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 24px;
}

h2 {
  font-weight: normal;
  margin-bottom: 32px;
}

h3 {
  font-weight: 600;
  margin-top: 32px;
}

#links {
  width: 100%;
  background: rgba(8, 14, 2, 0.7);
  border-radius: 10px;
  padding: 24px 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  font-weight: 600;
  color: rgb(46, 240, 46);
}
