body {
  background: url("/images/03.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

#bio-title {
  margin-top: 8vh;
  text-align: center;
  color: #ffffff;
  font-size: 65px;
  width: 100%;
}

#filtros {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  gap: 16px;
}

input {
  background-color: white;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
}
input:focus {
  outline: none;
}

input::placeholder {
  font-size: 16px;
  padding-right: 10px;
}

#busca-nome {
  width: 400px;
}

select {
  outline: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#custom-select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 12px;
  width: 180px;
  height: 32px;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}

#custom-select::after {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #616161;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

#snakes {
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

#snakes .snake {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 260px;
  padding: 20px 24px;
  background-color: #fff;
  color: #2c2c2c;
}

#snakes .snake img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

#snakes .snake h3 {
  font-size: 24px;
  text-transform: uppercase;
}

/* card  */
.card {
  width: 300px;
  height: 300px;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.61);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.61);
  transition: all 0.15s linear;
}

.card:hover {
  z-index: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  width: 260px;
  height: 200px;
  margin-top: 20px;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #4d5c4f;
}

.card p {
  font-size: 16px;
  margin-top: 10px;
}

@media screen and (max-width: 830px) {
  #bio-title {
    font-size: 30pt;
    padding-top: 15vh;
  }

  #filtros {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }

  .main-bio {
    height: 90vh;
  }

  #snakes {
    margin-top: 0;
    margin-bottom: 5vh;
  }

  .card {
    margin: 0;
  }
}