body {
    background-image: url("/images/02.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.contato-content {
width: 70vw;
margin: 3% auto auto auto;
display: grid;
align-items: center;
}

.tit-contato {
width: 40vw;
margin: 0 auto 5% auto;
font-size: 20pt;
color: white;
font-weight: 600;
text-align: center;
}